  .headerText {
    font-size: 5em;
    margin: 0;
    padding-top: 250px;
  }
  @media (min-width: 568px) {
  	.headerText {
  		font-size: 8em;
  	}
  }
  .landingHeader {
    text-align: center;
  }