<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% include icon-twitter.html username=site.harry_twitter %} Harry's Twitter </span></a><br>
            {% include icon-twitter.html username=site.nathaniel_twitter %} Nathaniel's Twitter </span></a>

        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        <a href="http://na.thaniel.uk">Nathaniel's Website</a>
        <a href="http://harryb0905.github.io">Harry's Website</a>

        </ul>
      </div>

      <div class="footer-col footer-col-3">
                <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

      </div>
    </div>

  </div>

</footer>
