<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><div class="logo" style="background-image: url('{{site.baseurl}}/images/brand/code.png');"></div></a>

  <div class="rightblock">

      <div class="summaryheader">
          <span class="summarytext">Just a website by two prospective computer scientists talking about technology. Including posts on:</span><br>
          <a class="menuitem lightmenu raspi-menu"><div class="icon icons8-Raspberry-Pi"></div> Raspberry Pi</a>
          <a class="menuitem lightmenu microbit-menu"><div class="icon icons8-BBC-Logo"></div> micro:bit</a>
          <a class="menuitem lightmenu python-menu"><div class="icon icons8-Python-Filled"></div> Python</a>
          </div>

      </div>
    </div>
  </div>

</header>
