.infoDivTitle {
    font-size: 2.5em;
    margin: 0;
    padding-top: 15px;
}
.infoDivDescription {
	font-size: 1.2em;
	margin: 0;
	padding: 0px 25px;
}
.infoDiv {
	padding: 20px;
  min-height: 250px;
  text-align: center;
  margin: 15px;
  /*transition: all .12s ease-in-out*/
}
.landingInfoProjTitle {
  font-size: 2.5em;
  text-align: center;
}
/*'&:hover': {
  cursor: 'pointer',
  background: 'rgb(245,245,245)',
  transform: 'scale(1.035)',
},*/