.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Quicksand"
}
.main {
	flex: 1;
}
.custom-bg {
	/*NEW*/
	width: 100vw;
	height: 1000px;
	background: url('../../images/concrete_seamless.png');
}